body, html {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("images/header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 250px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
}
li {
	float: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
	text-align: center;
}
h2 {
	font-size: 1.5em;
	color: #333;
}
main{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  width: calc(100% - 2rem);
  box-sizing: border-box;
}
main a {
	color: #333;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 0.8em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted #333;
	clear: both;
}
.news {
    overflow: hidden;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px #000;
    margin: 1rem 0;
}
.news img {
    width: 180px;
    height: 130px;
    object-fit: cover;
    float: left;
    margin: 0 1rem 0.5rem 0;
    border-radius: 8px;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #333;
}
.news hr {
	margin: 1em;
	border: 1px dotted #333;
	clear: both;
}
.news time {
	font-size: 90%;
	font-style: italic;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#news_gallery {
	overflow: hidden;
	padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

#news_gallery .left-col {
	float: left;
	width: 38%;
	box-sizing: border-box;
}

#news_gallery .left-col figure {
	padding: 0.5rem;
	margin: 0 0 1rem 0;
	width: 100%;
	border: 1px solid #000;
	box-sizing: border-box;
}

#news_gallery .right-col {
	margin-left: 40%;
	box-sizing: border-box;
	padding-left: 1rem;
}

#news_gallery .right-col p {
	margin: 0 0 1rem 0;
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: center;
}
#gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 1rem;
	padding: 0 1rem;
	align-items: start;
	margin: 1rem 0 2rem;
}

#gallery figure {
  padding: 0.5em;
  margin: 0; 
  float: none;
  width: auto;
  border: 1px solid #000;
  border-radius: 8px;
  overflow: hidden;
}
#gallery figcaption {
	font-size: 95%;
	height: auto;
	text-align: center;
	padding-top: 0.4em;
}
figure {
	padding: 0.5em;
	margin: 0 0.5em 0.5em 0.5em;
	float: left;
	width: 28%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
	border-radius: 8px;
}
video {
	margin: 0 1em 1em 1em;
	float: left;
}
#contact {
	margin: 1em;
	line-height: 1.4em;
}
label {
	display: block;
	margin: 0.4em 0;
}
input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Oswald', sans-serif;
	font-size: 95%;
}

input[type=submit] {
    display: block;
	background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 25%;
}

input[type=submit]:hover {
    background-color: #45a049;
}
footer {
	background-color: #333;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
  width: 20px;
  vertical-align: middle;
  margin-left: 6px;
  display: inline-block;
}
@media screen and (max-width: 600px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.news img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.news time {
		margin: 0 0 0 1em;
	}
	#news_gallery .left-col,
	#news_gallery .left-col figure {
		float: none;
		width: 100%;
	}
	#news_gallery .right-col {
		margin-left: 0;
		padding-left: 0;
	}
	#news_gallery figcaption {
		font-size: 90%;
		text-align: center;
	}
    #gallery figcaption {
        font-size: 95%;
        height: auto;
        text-align: center;
    }}